# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#

version: 2
jobs:
  build:
    docker: # run the steps with Docker
      - image: circleci/node:latest
    working_directory: ~/tmp
    steps:
      - checkout
      - attach_workspace:
          at: ~/tmp
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Login to Docker
          command: echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
      - restore_cache:
          name: Restore Yarn Package Cache
          keys:
            - yarn-packages-{{ checksum "yarn.lock" }}
      - run:
          name: Install Dependencies
          command: yarn install
      - run:
          name: Build Project
          command: yarn build
      - run:
          name: Build Docker Image
          command: >
            docker build
            --build-arg NODE_ENV="production"
            --build-arg MONGODB_USER="$MONGODB_USER"
            --build-arg MONGODB_PASS="$MONGODB_PASS"
            --build-arg MONGODB_ADDRESS_PROD="$MONGODB_ADDRESS_PROD"
            --build-arg AUTH0_CLIENT_ID="$AUTH0_CLIENT_ID"
            --build-arg AUTH0_CLIENT_DOMAIN="$AUTH0_CLIENT_DOMAIN"
            --build-arg PROD_DOMAIN="$PROD_DOMAIN"
            --build-arg DEVE_DOMAIN="$DEVE_DOMAIN"
            --build-arg PORT="$PORT"
            --build-arg HOST="$HOST"
            -t brushblaster/chdesign-dashboard:v0.0.1 .
      - run:
          name: Run Docker Image
          command: docker run -d -p 127.0.0.1:80:3000 brushblaster/chdesign-dashboard:v0.0.1
      - save_cache:
          name: Save Yarn Package Cache
          key: yarn-packages-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn
      - run:
          name: Docker Image
          command: docker image ls
      - persist_to_workspace:
          root: .
          paths: ./var

  deploy:
    docker: # run the steps with Docker
      - image: circleci/node:latest
    working_directory: ~/tmp
    steps:
      - checkout
      - attach_workspace:
          at: ~/tmp
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Define script rights
          command: chmod u+x ./docker_push.sh
      - run:
          name: Deploy to Docker
          command: ./docker_push.sh

workflows:
  version: 2

  build-ch-dashboard:
    jobs:
      - build:
          context: CH-Design
      - deploy:
          context: CH-Design
          requires:
            - build
